<div id="tbc_share-buttons">
  <div class="share-text">
    <p class="text-main">Share with friends</p>
  </div>
  <div class="share-icons">
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ shop.url }}{{ shareUrl}}" target="_blank"> <i class="fab fa-facebook"></i> </a>
    <!-- Email -->
    <a href="mailto:?Subject=The Balanced Collective&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ shop.url }}{{ shareUrl}}"><i class="fas fa-envelope"></i></a>
  </div>
</div>