@font-face {
  font-family: "Gopher";
  src: url("gopherREG.woff2") format("woff2"),
    url("gopherREG.woff") format("woff");
    font-weight: normal;
}

@font-face {
  font-family: "Gopher";
  src: url("gopherMED.woff2") format("woff2"),
    url("gopherMED.woff") format("woff");
    font-weight: bold;
}

@font-face {
  font-family: "Gopher";
  src: url("gopherBOLD.woff2") format("woff2"),
    url("gopherBOLD.woff") format("woff");
    font-weight: bolder;
}

@font-face {
  font-family: "Brandon";
  src: url("brandonREG.woff2") format("woff2"),
    url("brandonREG.woff") format("woff");
    font-weight: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("brandonBOLD.woff2") format("woff2"),
    url("brandonBOLD.woff") format("woff");
    font-weight: bold;
}


body {
  font-family: "Brandon", Arial, sans-serif;
  line-height: 1.6em;
}

p {
  font-family: "Brandon", Arial, sans-serif;
}

main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Gopher", Arial, sans-serif;
    font-weight: bolder;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  p,
  a:not(.btn) {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .clear-margin {
    margin-bottom: 0px;
  }
}

.text-hero,
.text-title,
.text-subtitle,
.text-heading {
  font-family: "Gopher", Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 300;
}

.text-hero {
  font-size: 7em;
}

.text-title {
  font-size: 3em;
}

.text-subtitle {
  font-size: 2.5em;
}

.text-heading {
  font-size: 2em;
}

.text-main {
  font-size: 20px;
}

.text-overline {
  font-size: 13px;
}
.text-caption {
  font-size: 13px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}



@media (max-width: 950px) {
  .text-hero {
    font-size: 3.4em;
  }

  .text-title {
    font-size: 2.2em;
  }

  .text-subtitle {
    font-size: 2em;
  }

  .text-main {
    font-size: 16px;
    line-height: 1.4em;
  }
}
