/***************************
******* FLEX SETTINGS ******
****************************/
.flex-main,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-right {
  align-items: center;
  justify-content: flex-end;
}

.flex-center-left {
  align-items: center;
  justify-content: flex-start;
}

.flex-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.flex-50 {
  flex: 1 1 50%;
  min-width: 50%;
}

.flex-33 {
  flex: 1 1 33.3333%;
}

.flex-66 {
  flex: 1 1 66.6666%;
}

.flex-25 {
  flex: 1 1 25%;
}

.flex-75 {
  flex: 1 1 75%;
}

.flex-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .flex-reverse,
  .flex-reverse-mob {
    flex-direction: column-reverse;
  }
  .flex-inner {
    flex-direction: column;
    &.fancy-wrapper {
      align-items: center;
    }
  }
  .flex-center-right,
  .flex-center-left,
  .flex-top-right,
  .flex-top-left,
  .flex-bottom-right,
  .flex-bottom-left {
    justify-content: center;
    align-items: center;
  }
  .flex-50,
  .flex-33,
  .flex-66,
  .flex-25,
  .flex-75 {
    flex: 1 1 100%;
  }
}

@media (max-width: 479px) {
  .flex-50,
  .flex-33,
  .flex-66,
  .flex-25,
  .flex-75 {
    flex: 1 1 100%;
  }
}

/***************************
  *********** GRID ***********
  ****************************/
.grid-main {
  display: grid;
  &.gap-20 {
    gap: 20px;
  }
  &.gap-40 {
    gap: 40px;
  }
  &.gap-60 {
    gap: 60px;
  }
  &.gap-80 {
    gap: 80px;
  }
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}
.grid-3-1 {
  grid-template-columns: 3fr 1fr;
}
.grid-1-2 {
  grid-template-columns: 1fr 2fr;
}
.grid-3-1 {
  grid-template-columns: 1fr 3fr;
}
.grid-2-3 {
  grid-template-columns: 2fr 3fr;
}

@media (max-width: 750px) {
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-2-1,
  .grid-3-1,
  .grid-1-2,
  .grid-3-1,
  .grid-2-3 {
    grid-template-columns: 1fr;
  }
  
  .grid-2-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 479px) {
  .grid-auto {
    grid-template-columns: 1fr;
  }
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-2-1,
  .grid-3-1,
  .grid-1-2,
  .grid-3-1 {
    grid-template-columns: 1fr;
  }
}

/***************************
********* ALIGNMENT ********
****************************/
.align-start {
  align-items: start;
}


/***************************
  ********** PADDING *********
  ****************************/
.p-xlarge {
  padding: 10em;
}
.p-large {
  padding: 6em;
}
.p-med {
  padding: 4em;
}
.p-small {
  padding: 2em;
}

@media (max-width: 767px) {
  .p-xlarge,
  .p-large,
  .p-med,
  .p-small {
    padding: 2em;
  }
}

@media (max-width: 479px) {
  .p-xlarge,
  .p-large,
  .p-med,
  .p-small {
    padding: 20px;
  }
}
