:root {
  --tbc-darkblue: #262C96;
  --tbc-blue: #1C7EE3;
  --tbc-green: #1DD8C4;
  --tbc-red: #FF6976;
  --tbc-purple: #DE8BCC;
  --tbc-lime: #CFDF00;
  --tbc-orange: #FFC600;
}

html {
  scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 130px;
    margin: -130px 0 0;
}

body {
  color: var(--tbc-darkblue);
}

@mixin aux-con {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.section,
.container,
.col,.bg-wrapper, .relative {
  position: relative;
}

.container,
.col,
.image-con {
  height: 100%;
}

.content-wrapper,
.content-con {
  position: relative;
  z-index: 1;
}

.page-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &.top, &.center, &.bottom {
    text-align: center;
  }

  &.top img {
    object-position: top!important;
  }

  &.center img {
    object-position: center!important;
  }

  &.bottom img {
    object-position: bottom!important;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.bgimage, #bgvideo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  // padding: 0 5rem;

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#bgvideo {
  object-fit: cover;
}

.page-full {
  .bgimage {
    padding: 0;
  }
}

@media (min-width: 750px) {
  .top-padded-section {
    padding-top: 120px;
  }
}

@media (max-width: 749px) {
  .bgimage {
    // padding: 0 1.5rem;
  }
}
