// BLOCK 01
.block-1 {
  // min-height: 700px;
  padding-top: 3em;
  padding-bottom: 3em;
  overflow: hidden;

  .container {
    align-items: center;
  }

  figure {
    max-width: 500px;
    margin: auto;
  }

  .content-wrapper {
    .col {
      text-align: center;
      padding: 2em;
    }

    .icon {
      margin: auto;
      width: 60px;
      height: 60px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 749px) {
  .block-1 {
    height: auto;

    .image-con {
      width: 250px;
      margin: auto;
    }

    .content-wrapper .col {
      flex: 1 1 100%;
      min-width: 100%;
      padding: 1em;
    }
  }
}

// BLOCK 03
.block-3 {
  .col {
    padding: 2em 4em 3em;
    background: transparent linear-gradient(0deg, #262C96 0%, #26268B00 100%) 0% 0% no-repeat padding-box;
    height: 500px;
  }
  .bgimage {
    mix-blend-mode: multiply;
  }
  .caption {
    color: #FFC600;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .block-title {
    color: #fff;
  }
}

@media (min-width: 750px) {
  .block-3 {
    .col {
      align-items: flex-end;
    }
  }
}

@media (max-width: 749px) {
  .block-3 {
    .col {
      height: 400px;
      justify-content: flex-end;
    }
  }
}


.block-33 {
  
  .container {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .text-main, .text-subtitle, p, li {
    color: var(--tbc-darkblue);
  }

  .block-one {
    figure img {
      object-position: top;
      max-width: 500px;
    }
  }

  .item-content {
    figure {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
  }

  .item_item {
    flex: 1 1 33.3333%;
    padding-right: 10px;
  }

  .item {
    margin-bottom: 30px;
    width: 100%;
    
    .text-main {
      position: relative; 
      margin-bottom: 10px;
    }

    ul {
      margin-top: 0;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      margin-left: 19px;
      padding-left: 0;
      flex: 1 1 calc(50% - 40px);
      display: inline-block;
      width: calc(50% - 40px);
      margin-bottom: 0.4em;
      margin-right: 1em;
    }
    li::before {
      content: "•"; 
      color: #1DD8C4;
      font-size: 30px;
      display: inline-block; 
      width: 24px;
      padding-right: 10px;
      margin-left: -22px;
    }
  }

  .item-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px)  {
  .block-33 {
    .item {
      li {
        flex: 1 1 calc(100% - 40px);
        display: inline-block;
        width: calc(100% - 40px);
      }
    }
    .grid-2 {
      grid-template-columns: 1fr;
    }
  }
}

@media (min-width: 768px)  {
  .block-33 {
    .grid-main {
      grid-template-areas: "first second";
    }

    .block-one {
      grid-area: first;
    }

    .block-two {
      grid-area: second;
    }

    .reversed {
      .block-one {
        grid-area: second;
      }

      .block-two {
        grid-area: first;
      }
    }
  }
}