// TICKER
.bg-ticker {
  .container {
    height: 150px;
    position: relative;
    background-image: url(/img/halftone-yellow.png);

    &:before {
      @include aux-con;
      background-image: url(/img/bgticker.png);
      background-repeat: repeat-x;
      background-position: center center;
      animation: animatedBackground 500s linear infinite;
    }

    @keyframes animatedBackground {
      from {
        background-position: 0 center;
      }
      /* -x right to left, x = left to right */
      to {
        background-position: -10000px center;
      }
    }
  }
}
