// HEADER
.header-wrapper, .header {
  background-color: transparent;
  transition: all 300ms ease;
}

.header-wrapper {
  &.fade-in {
    background-color: #ffffffe3;
  }
}

// PRODUCT CARD
.product-cards {
  padding-top: 4em;
  padding-bottom: 5em;
  position: relative;
  z-index: 1;

  .card--product {
    padding: 0 3vw;
  }

  > .title-wrapper-with-link {
    padding-bottom: 30px;
  }
  
  .card-information__wrapper {
    text-align: center;

    > .card-information__text {
      color: #1C7EE3;
      font-size: 1em;
    }

    > .price {
      justify-content: center;
      color: #FF6976;
      font-weight: bold;
    }
  }
}

@media (max-width: 749px) {
  .product-cards {
    padding-top: 2em;
    padding-bottom: 2.8em;
  }
}

// CUSTOM DUAL BANNER
.custom-dual-banner {
  .item-block {
    width: 100%;
  }

  .gender, .bodypart {
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 100%;
      top: 0px; 
      right: -40px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .bone:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/bone.svg?v=1631147539);
  }
  .muscle:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/muscle.svg?v=1631833474);
  }
  .brain:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/brain.svg?v=1631833474);
  }
  .capricon:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/sign_capricon.svg?v=1631143895);
  }
  .taurus:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/sign_taurus.svg?v=1631143894);
  }
  .scorpio:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/sign_scorpion.svg?v=1631143894);
  }
  .libra:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/sign_libra.svg?v=1631143895);
  }
  .pisces:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/sign_pisces.svg?v=1631148096);
  }
}

// CUSTOM NEWSLETTER SIGNUP
.tbc-newsletter {
  .bg-wrapper {
    padding: 4em 0;
  }
  .newsletter-form__field-wrapper {
    max-width: 100%;
  }
  .custom-form {
      width: 100%;
      flex: 1 1 100%;
      
    .field__input {    
      border: transparent;
      box-shadow: none;
      background: #fff;
      border-radius: 15px;
      padding-right: 150px;
    }
    .newsletter-form__button {
      width: 4.4rem;
      margin: 0;
      width: 140px;
      background-color: #FF6976;
      color: #fff;
      font-weight: bold;
      border-radius: 15px;
      height: 4.5rem;
    }
  }
}

// TBC HERO-TEXT BANNER
.hero-txt {
  .content-wrapper {
    max-width: 100%;
  }
}

// TBC BANNER 
@media (max-width: 749px) {
  .tbc-banner {
    .content-con.type_two {
      padding-bottom: 18em;
      background-size: 100%!important;
    }
  }
}

// TBC SINGLE BANNER 
.tbc-single-banner {
  h1, h2, h3, h4 {
    
    // line-height: 1.8em;
  }
}
@media (max-width: 749px) {
  .tbc-single-banner {
    .container {
      padding-top: 1em!important;
    }
    .content-wrapper {
      text-align: center;
    }
  }
}

// TBC FEATURE BLOCK
.feature-block {
  .heading {
    margin-bottom: 40px;
    padding: 0 3em;
  }
}

@media (max-width: 950px) {
  .feature-block {
    .col {
      flex: 1 1 50%;
    }
  }
}

// TBC CUSTOM FEATURE BLOCK
.cstm-info-block {
  .icon.icon_bigger {
    width: 100px!important;
  }
}

// TBC CUSTOM FEATURE BLOCK
.tbc-maps {
  position: relative;
  height: auto!important;

  p {
    text-align: left;
  }

  > .container.address-info {
      height: auto;
      width: 100%;
      position: relative;
      z-index: 1;
      margin-bottom: -80px;
      display: flex;
      justify-content: right;
  }

  .content-con {
    width: 400px;
    background-color: #fff;
    padding: 40px;
    z-index: unset;

    &:after {
      content: '';
      position: absolute;
      background-color: red;
      z-index: -1;
      top: 20px;
      left: 20px;
      right: -20px;
      bottom: -20px;
    }
  }

  .item {
    display: flex;
    margin-bottom: 20px;

    i {
      font-size: 16px;
    }
  }

  .item-icon {
    > div {
      background-color: var(--tbc-green);
      color: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    margin-right: 10px;
  }

  .map-info {
    height: 400px;
  }

  .maps-con {
    height: 400px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}


@media (max-width: 749px) {
  .tbc-maps {

  > .container.address-info {
      margin-bottom: 80px;
      justify-content: center;
    }

  }
}

////////////////////////
// LEGAL PAGE
////////////////////////
.pre-legal {
  background-color: var(--tbc-blue);
  padding: 10px 0;

  .anchor-con {
    display: flex;
    justify-content: center;
  }

  a {
    text-decoration: none;
    display: block;
    margin: 5px!important;
    padding: 10px 20px;
    border: 1px solid var(--tbc-lime);
    color: var(--tbc-lime);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.legal {
  padding-top: 4em;
  padding-bottom: 4em;

  p,li {
    font-size: 20px;
  }
  p {
    padding-bottom: 15px;
  }
}

@media (max-width: 749px) {
  .legal {
    p,li {
      font-size: 16px;
    }
  }
}


////////////////////////
// BLOG PAGE
///////////////////////
.tbc-blog-block {

  .blog-header {
    max-width: 800px;
    padding-top: 4em;
  }

  .blog-articles {
    max-width: 1100px;
  }

  .article-card {
    background-color: transparent;
  }

  .pagination-wrapper {
    margin-bottom: 0;
    padding-bottom: 4em;
  }

  .article-event-date {
    color: var(--tbc-blue);
    font-weight: bold;
  }

  .pagination__item {
    background-color: var(--tbc-orange);
    border: 2px solid var(--tbc-red);
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;

    &--current {
      background-color: transparent;
    }

    &--current::after {
      background-color: transparent!important;
    }

    &:hover::after {
      background-color: transparent!important;
    }
  }

  .first-blog {
    padding-bottom: 20px;
    margin-top: -100px;

    .blog-articles__article {
      margin-top: -100px;

      .article-card__image.media {
        padding-bottom: 50%;
      }
    }
  }

  .all-blogs {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-top:30px;
    padding-bottom:60px;

    .blog-articles__article {
      grid-column: span 1!important;

      &:nth-child(7n+1) .article-card__image{
        border: 8px solid var(--tbc-purple);
      }
      &:nth-child(7n+2) .article-card__image{
        border: 8px solid var(--tbc-red);
      }
      &:nth-child(7n+3) .article-card__image{
        border: 8px solid var(--tbc-green);
      }
      &:nth-child(7n+4) .article-card__image{
        border: 8px solid var(--tbc-lime);
      }
      &:nth-child(7n+5) .article-card__image{
        border: 8px solid var(--tbc-darkblue);
      }
      &:nth-child(7n+6) .article-card__image{
        border: 8px solid var(--tbc-orange);
      }
      &:nth-child(7n+7) .article-card__image{
        border: 8px solid var(--tbc-blue);
      }
    }
    .post-title {
      text-transform: none;
    }
    .article-card__image-wrapper {
      padding: 3rem;
    }
    .article-card__info {
      padding-top: 0;
    }
    .article-card {
      text-align: center;
    }
    .article-card__image {
      border-radius: 50%;
      padding-bottom: calc(100% - 16px);
      border: 8px solid black;
    }
  }

  .post-date {
    color: #1DD8C4;
  }
  .post-title {
    color: #262C96;
  }
}

.blog-header {
  .container {
    padding-top: 12em;
    padding-bottom: 8em;
    z-index: 1;
  }
}

@media (max-width: 749px) {
  .tbc-blog-block {  
    .all-blogs {
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .article-card__image-wrapper, .article-card__info {
        padding: 1rem;
      }
    }

  }
  .blog-header {
    .container {
      padding-top: 6em;
      padding-bottom: 8em;
    }
  }
}

@media (max-width: 470px) {
  .tbc-blog-block {  
    .all-blogs {
      grid-template-columns: 1fr;
      gap: 20px;
    }

  }
}

////////////////////////////////
// SINGLE BLOG PAGE : CLASSIC
////////////////////////////////

.tbc-blog-classic {

  .tbc-blog-block {
    padding-top: 4em;
    padding-bottom: 4em;

    .all-blogs {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .article-template {
    padding: 0 1em;

    > .article-template__hero-container {
      margin-top: 180px;
      max-width: 120rem;

      &.event_banner {
        margin-top: 2em;
        background-color: var(--tbc-darkblue);
        color: #fff;
        padding: 15px;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .article-template__content {
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .tbc-blog-image {
    position: relative;
  }

  .tbc-blog-image:after {
    content: '';
    display: block;
    position: absolute;
    width: 500px;
    height: 100%;
    top: -100px; 
    right: -200px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/blog-bubles_small.svg?v=1631150261);
    z-index: -1;
  }

  .date-caption {
    font-weight: bold;
    color: var(--tbc-green);
    text-transform: none;
    display: inline-block;
    margin-bottom: 15px;
  }

  .article-template__title {
    color: var(--tbc-blue);
    font-weight: inherit;
  }
}

@media screen and (max-width: 950px) {
  .tbc-blog-classic {

    .tbc-blog-block {
      .all-blogs {
        grid-template-columns: 1fr 1fr;
      }
    }
    .article-template__content p {
      font-size: 16px;
      line-height: 1.4em;
    }
  }
}

@media screen and (max-width: 989px) {
  .tbc-blog-classic {
    .article-template__hero-medium {
      height: 34.9rem;
    }
  }
}

@media screen and (max-width: 749px) {
  .tbc-blog-classic {

    .article-template {
      padding: 0 1em;

      > .article-template__hero-container {
        margin-top: 80px;
      }
    }

  }
}

////////////////////////
// BLOG PAGE
///////////////////////
.tbc-related-posts {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

////////////////////////
// PRODUCT PAGE
///////////////////////
.product {
  padding-bottom: 4em;

  .product__title {
    color: var(--tbc-blue);
  }
  .product-form__submit {
    margin-bottom: 0;
  }

  .product__description {
    color: var(--tbc-darkblue);
  }

  .price-item {
    color: var(--tbc-green);
  }

  .price {
    font-family: "Gopher", Arial, sans-serif;
    font-size: 1.6em;
  }
}

@media (min-width: 951px) {
  .product {
    .price {
      font-size: 1.6em;
    }
  }
}

////////////////////////
// COLLECTION PAGE
///////////////////////
.myprod {
    padding-top: 200px;
    padding-bottom: 80px;
    margin-top: -150px!important; 

      .select .icon-caret {
        height: 0.8rem;
        margin-right: 10px;
      }

    .collection-filters__item select, .mobile-facets__open {
      margin: 0 15px 0 0;
      padding: 0.3em 1.75rem 0.3em 1.3em;
      font-size: 16px;
      font-weight: bold;
      border: 2px solid var(--tbc-green);
      border-radius: 8px;
    }

    .collection-product-count {
      display: none;
        // font-size: 16px;
        // font-weight: bold;
        // padding-top: 10px;
    }

    .facets__wrapper {
      > details {
        border: 2px solid var(--tbc-green);
        border-radius: 8px;
      }

      .facets__summary {
        margin: 0 15px 0 0;
        padding: 0.3em 1.75rem 0.3em 1.3em;
        font-size: 16px;
        font-weight: bold;
      }

      .facets__heading {
        display: none;
        // font-size: 16px;
        // font-weight: bold;
        // padding-top: 10px;
      }
    }
}

////////////////////////
// CART PAGE
///////////////////////
.cart-items {
  .quantity {
    border-radius: 15px;
    border: 2px solid var(--tbc-green);
  }

  .cart-item__totals {
    .button {
      box-shadow: none;
      border:1px solid var(--tbc-orange);
      color:var(--tbc-orange);
    }
  }
}

#main-cart-footer {
  padding-bottom: 6rem;
}

////////////////////////
// CART NOTIFICATION
///////////////////////
#cart-notification {
  .cart-notification-product__info {
    align-self: center!important;
  }
}

////////////////////////
// FOOTER
///////////////////////

footer {
  ul {
    text-align: right;
  }
  ul.footer-block__details-content li {
    display: inline-block!important;

    a {
      color: var(--tbc-darkblue)!important;
    }
  }

  .footer-block--menu {
    text-align: right;
  }

  .list-social__item .icon {
    height: 2.8rem;
    width: 2.8rem;
  }

  .icon-instagram {
    color: #FF6976!important;
  }

  .icon-facebook {
    color: var(--tbc-darkblue)!important;
  }

  .footer__copyright {
    margin-top: 3rem;
  }
}

@media (max-width: 749px) {
  footer {
    ul, .footer-block {
      text-align: center;
    }
    .footer-block--menu {
      text-align: center;
    }
    
    ul > li {
      padding: 0 10px!important;
    }
  }
}