<style type="text/css">

.bg-ticker .container {
	background-image: url({{ section.settings.image_2 }});
}

.bg-ticker .container:before {
	background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/bgticker.png?v=1630138707);
}

</style>

<div class="wrapper bg-ticker">
	<div class="container page-width">
		<div class="content-wrapper">
			<div class="col p-small">
				<h3 class="text-subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, sint?</h3>
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Custom Ticker",
		"tag": "section",
		"class": "wrapper",
		"settings": [
			{
				"type": "image_picker",
				"id": "image_1",
				"label": "Ticker Image"
			},
			{
				"type": "url",
				"id": "image_2",
				"label": "Backgroud Image"
			}
		],
		"presets": [
			{
				"name":"Custom Ticker"
			}
		]
	}
{% endschema %}
