<style type="text/css">

.bg-ticker .container {
	background-image: url({{ section.settings.image_2 | split: "/" | last | file_url | prepend: "https:" }});
}

.bg-ticker .container:before {
	background-image: url({{ section.settings.image_1 | split: "/" | last | file_url | prepend: "https:" }});
}

</style>
<div id="bg-ticker{{ section.id }}" class="bg-ticker">
	<div class="container page-full">
		<div class="content-wrapper">
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Custom Ticker",
		"tag": "section",
		"class": "wrapper",
		"settings": [
			{
				"type": "image_picker",
				"id": "image_1",
				"label": "Ticker Image"
			},
			{
				"type": "image_picker",
				"id": "image_2",
				"label": "Backgroud Image"
			}
		],
		"presets": [
			{
				"name":"Custom Ticker"
			}
		]
	}
{% endschema %}
