<style type="text/css">

.bg-ticker .container {
	background-image: url({{ section.settings.image_2 }});
}

.bg-ticker .container:before {
	background-image: url({{ section.settings.image_1 }}));
}

</style>

<div class="wrapper bg-ticker">
	<div class="container page-full">
		<div class="content-wrapper">
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Custom Ticker",
		"tag": "section",
		"class": "wrapper",
		"settings": [
			{
				"type": "image_picker",
				"id": "image_1",
				"label": "Ticker Image"
			},
			{
				"type": "url",
				"id": "image_2",
				"label": "Backgroud Image"
			}
		],
		"presets": [
			{
				"name":"Custom Ticker"
			}
		]
	}
{% endschema %}
