<div id="block-1{{ section.id }}" class="block-1">
	<div class="container page-width flex-main p-med">
		<div class="col flex-50">
			<div class="image-con">
				<figure>
					{%- if section.settings.image_1 != blank -%}
					{% assign my_img = section.settings.image_1 %}
					{% render 'image-block', my_img: my_img %}
					{%- else -%}
						{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
					{%- endif -%}
				</figure>
			</div>
		</div>
		<div class="col flex-50 flex-main flex-center">
			<h3>Lorem Ipsum</h3>
			<div class="content-wrapper flex-main">
				{%- for block in section.blocks -%}
					{%- case block.type -%}
						{%- when 'info' -%}
							<div class="col flex-50">
								{%- if block.settings.icon != blank -%}
								<div class="icon">
									{% assign my_img = block.settings.icon %}
									{% render 'image-block-svg', my_img: my_img %}
								</div>
								{%- endif -%}
								{%- if block.settings.heading != blank -%}
								<p>{{ block.settings.heading }}</p>
								{%- endif -%}
								{%- if block.settings.content != blank -%}
								<p>{{ block.settings.content }}</p>
								{%- endif -%}
							</div>
					{%- endcase -%}
				{%- endfor -%}
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Custom Info Block 01",
		"tag": "section",
		"class": "wrapper",
		"settings": [
			{
				"type": "image_picker",
				"id": "image_1",
				"label": "Block Image"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Title"
			}
		],
		"blocks": [
			{
				"type": "info",
				"name": "Info Block",
				"settings": [
					{
						"type": "url",
						"id": "icon",
						"label": "Icon"
					},
					{
						"type": "text",
						"id": "heading",
						"label": "Heading"
					},
					{
						"type": "textarea",
						"id": "content",
						"label": "content"
					}
				]
			}
		],
		"presets": [
			{
				"name":"Custom Info Block 01"
			}
		]
	}
{% endschema %}
