<div id="tbc-maps-{{ section.id }}" class="hero-6 tbc-maps">
	<div class="container page-width page-width--narrow address-info">
		<div class="content-con flex-main">
      {%- for block in section.blocks -%}
					{%- case block.type -%}
						{%- when 'address_item' -%}
            <div class="item">
              <i class="{{block.settings.item_icon}}"></i>
              <p class="text-main">{{block.settings.item_text}}</p>
            </div>
          {%- endcase -%}
        {%- endfor -%}
    </div>
  </div>
  <div class="container page-full map-info">
    <div class="maps-con">
      {{ section.settings.map_embed }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom - Maps",
  "tag": "section",
  "class": "wrapper",
  "blocks": [
    {
      "type": "address_item",
      "name": "Address Item",
      "settings": [
        {
          "type": "textarea",
          "id": "item_text",
          "label": "Content",
          "defaut": "6XX-XXX-XXXX"
        },
        {
          "type": "text",
          "id": "item_icon",
          "label":"Icon",
          "defalt":"fas fa-phone-alt",
          "info": "Use a flaticon example"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"Custom - Maps",
      "blocks": [
        {
          "type": "address_item"
        },
        {
          "type": "address_item"
        },
        {
          "type": "address_item"
        }
      ]
    }
  ]
}
{% endschema %}
