<div id="testimonial-1-{{ section.id }}" class="testimonial-1">
  <div class="container page-width">
    <div class="section-title" style="text-align: center;">
      <h3 class="text-subtitle fancyheader">{{section.settings.section_title}}</h3>
    </div>
    <div class="splide" data-splide='{"type":"loop","gap":"2em","pagination":false,"perPage":2,"breakpoints":{"750":{"perPage":1}}}'>
      <div class="splide__track">
        <ul class="splide__list">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'testimonial' -%}
              <li class="splide__slide">
                <div class="container flex-main flex-center">
                  <div class="content-wrapper">
                    <p class="text-main" style="color: #262C96;">{{block.settings.content}}</p>
                    <p class="text-main client" style="color: #1C7EE3;">{{block.settings.name}}</p>
                  </div>
                </div>
              </li>
            {%- endcase -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
	{
		"name": "Slider - Testimonials",
		"tag": "section",
		"class": "wrapper",
		"settings": [
			{
				"type": "text",
				"id": "section_title",
				"label": "Section Title"
			}
		],
    "blocks": [
      {
        "type": "testimonial",
        "name": "testimonial",
        "settings": [
          {
            "type": "text",
            "id": "content",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit provident.",
            "label": "Testimonial Content"
          },
          {
            "type": "text",
            "id": "name",
            "default": "Jane Doe",
            "label": "Testimonial Client"
          }
        ]
      }
    ],
		"presets": [
			{
				"name":"Slider - Testimonials",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
		]
	}
{% endschema %}
