<div id="hero-1-{{ section.id }}" class="hero-2 blog-header">
  <div class="bg-wrapper">
    <div class="container page-width flex-main flex-center">
      <h4 class="text-subtitle fancyheader">{{section.settings.heading}}</h4>
    </div>
    <div class="bgimage">
        {% render 'image-block', my_img: section.settings.bg_image %}
    </div>
  </div>
</div>

{% schema %}
	{
		"name": "Custom Blog - Hero",
		"tag": "section",
		"class": "wrapper",
		"settings": [
			{
				"type": "textarea",
				"id": "heading",
				"default": "Lorem ipsum dolor.",
				"label": "Headline"
			},
			{
				"type": "image_picker",
				"id": "bg_image",
				"label": "Backgroud Image"
			}
		],
		"presets": [
			{
				"name":"Custom Blog - Hero"
			}
		]
	}
{% endschema %}