/***************************
******* FLEX SETTINGS ******
****************************/
.flex-main,
.flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-top-right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-top-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-bottom-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-bottom-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-50 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 50%;
}

.flex-33 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}

.flex-66 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.6666%;
          flex: 1 1 66.6666%;
}

.flex-25 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.flex-75 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .flex-reverse,
  .flex-reverse-mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flex-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-top-right,
  .flex-top-left,
  .flex-bottom-right,
  .flex-bottom-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-50,
  .flex-33,
  .flex-66,
  .flex-25,
  .flex-75 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 479px) {
  .flex-50,
  .flex-33,
  .flex-66,
  .flex-25,
  .flex-75 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

/***************************
  *********** GRID ***********
  ****************************/
.grid-main {
  display: -ms-grid;
  display: grid;
}

.grid-main.gap-20 {
  gap: 20px;
}

.grid-main.gap-40 {
  gap: 40px;
}

.grid-main.gap-60 {
  gap: 60px;
}

.grid-main.gap-80 {
  gap: 80px;
}

.grid-auto {
  -ms-grid-columns: (minmax(calc(50% - 20px), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2-1 {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.grid-3-1 {
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.grid-1-2 {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.grid-3-1 {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

@media (max-width: 767px) {
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-2-1,
  .grid-3-1,
  .grid-1-2,
  .grid-3-1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 479px) {
  .grid-auto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-2-1,
  .grid-3-1,
  .grid-1-2,
  .grid-3-1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/***************************
  ********** PADDING *********
  ****************************/
.p-xlarge {
  padding: 10em;
}

.p-large {
  padding: 6em;
}

.p-med {
  padding: 4em;
}

.p-small {
  padding: 2em;
}

@media (max-width: 767px) {
  .p-xlarge,
  .p-large,
  .p-med,
  .p-small {
    padding: 2em;
  }
}

@media (max-width: 479px) {
  .p-xlarge,
  .p-large,
  .p-med,
  .p-small {
    padding: 20px;
  }
}

.section,
.container,
.col {
  position: relative;
}

.container,
.col,
.image-con {
  height: 100%;
}

.content-wrapper,
.content-con {
  position: relative;
  z-index: 1;
}

.page-full {
  width: 100%;
}

figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bgimage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0 5rem;
}

.bgimage img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-full .bgimage {
  padding: 0;
}

@media (max-width: 749px) {
  .bgimage {
    padding: 0 1.5rem;
  }
}

@font-face {
  font-family: "Gopher";
  src: url("gopherREG.woff2") format("woff2"), url("gopherREG.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gopher";
  src: url("gopherMED.woff2") format("woff2"), url("gopherMED.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Gopher";
  src: url("gopherBOLD.woff2") format("woff2"), url("gopherBOLD.woff") format("woff");
  font-weight: bolder;
}

@font-face {
  font-family: "Brandon";
  src: url("brandonREG.woff2") format("woff2"), url("brandonREG.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Brandon";
  src: url("brandonBOLD.woff2") format("woff2"), url("brandonBOLD.woff") format("woff");
  font-weight: bold;
}

body {
  font-family: "Brandon", Arial, sans-serif;
  line-height: 1.6em;
}

p {
  font-family: "Brandon", Arial, sans-serif;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: "Gopher", Arial, sans-serif;
  font-weight: bolder;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main a:not(.btn) {
  margin-top: 0;
  margin-bottom: 20px;
}

.text-hero,
.text-title,
.text-subtitle {
  font-family: "Gopher", Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 300;
}

.text-hero {
  font-size: 7em;
}

.text-title {
  font-size: 3.2em;
}

.text-subtitle {
  font-size: 2em;
}

.text-main {
  font-size: 20px;
}

.text-overline {
  font-size: 13px;
}

.text-caption {
  font-size: 13px;
}

@media (max-width: 768px) {
  .text-hero {
    font-size: 3.4em;
  }
  .text-title {
    font-size: 2.2em;
  }
  .text-subtitle {
    font-size: 1.6em;
  }
}

@media (min-width: 750px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.btn {
  display: inline-block;
  border: 1px solid #333;
  text-decoration: none;
  padding: 15px 25px;
}

.btn:first-of-type {
  margin-left: 0;
}

.op-10 {
  opacity: 0.3;
}

.custom-btn {
  background-color: orangered;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  border: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.custom-btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 13px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}

.custom-btn:hover:after {
  top: 4px;
  bottom: 3px;
  left: 4px;
  right: 4px;
  opacity: 1;
}

.text-overline {
  background-color: #ddd;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  display: inline-block;
  padding: 0px 15px;
}

.fancyheader, .myfancyheader {
  position: relative;
}

.fancyheader:before, .fancyheader:after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0px;
  background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/bubbles_icon.svg?v=1630196027);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fancyheader:before {
  left: -50px;
}

.fancyheader:after {
  right: -50px;
}

.hero-1 {
  height: 500px;
  overflow: hidden;
}

.hero-1 .container {
  height: 100%;
}

.hero-1 .content-wrapper {
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
}

.hero-1 .contained {
  padding: 2em;
}

.hero-2 .container {
  height: 100%;
}

.hero-2 .image-con {
  height: 350px;
}

.hero-2 .content-con {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -100px;
}

.hero-2 .content-wrapper {
  background-color: #fff;
  max-width: 700px;
}

@media (max-width: 767px) {
  .hero-2 .image-con {
    height: 250px;
  }
  .hero-2 .content-con {
    margin-top: -50px;
  }
}

.hero-3 {
  height: 500px;
}

.hero-3 .container {
  height: 100%;
}

.hero-3 .col {
  height: auto;
}

.hero-3 .content {
  max-width: 300px;
}

.hero-3 .content-con,
.hero-3 .image-con {
  min-height: 250px;
}

@media (max-width: 767px) {
  .hero-3 {
    height: auto;
    min-height: 500px;
  }
}

.hero-4 {
  height: 500px;
}

.hero-4 .container {
  height: 100%;
}

.hero-4 .clip-right {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
}

.hero-4 .clip-left {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero-4 .flex-reverse .clip-right {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
}

.hero-4 .flex-reverse .clip-left {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.hero-4 .content-wrapper {
  max-width: 300px;
}

.hero-4 .content-con {
  min-height: 150px;
}

@media (max-width: 767px) {
  .hero-4 {
    height: auto;
  }
  .hero-4 .image-con {
    min-height: 250px;
  }
  .hero-4 .content-con {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 3em 0 4em;
  }
  .hero-4 .clip-right,
  .hero-4 .clip-left {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%) !important;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%) !important;
  }
}

.hero-5 {
  height: 400px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.hero-5 .container {
  height: 100%;
}

.hero-5 .col {
  height: auto;
}

.hero-5 .offset-image {
  position: absolute;
  top: -35%;
  left: 0;
  width: 100%;
  height: 150%;
  text-align: center;
}

.hero-5 .offset-image img {
  height: 100%;
}

@media (max-width: 767px) {
  .hero-5 .offset-image {
    height: 200%;
  }
}

.hero-6 {
  height: 600px;
  overflow: hidden;
}

.hero-6 .container {
  height: 100%;
}

.hero-6 .content-con {
  height: 100%;
  padding-right: 0;
}

.hero-6 .image-con {
  padding: 40px;
}

@media (max-width: 749px) {
  .hero-6 {
    height: auto;
  }
  .hero-6 .content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    text-align: center;
  }
  .hero-6 figure img {
    max-height: 300px;
  }
}

.block-1 {
  min-height: 700px;
  overflow: hidden;
}

.block-1 .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-1 figure {
  max-width: 500px;
  margin: auto;
}

.block-1 .content-wrapper .col {
  text-align: center;
  padding: 40px 20px;
}

.block-1 .content-wrapper .icon {
  margin: auto;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.block-1 .content-wrapper .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 749px) {
  .block-1 {
    height: auto;
  }
  .block-1 .image-con {
    width: 250px;
    margin: auto;
  }
  .block-1 .content-wrapper .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: 100%;
    padding: 20px 5px;
  }
}

.block-3 {
  border: 1px solid red;
}

.block-3 .col {
  border: 1px solid red;
  padding-top: 12em;
  background: transparent -webkit-gradient(linear, left bottom, left top, from(#262C96), to(#26268B00)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(0deg, #262C96 0%, #26268B00 100%) 0% 0% no-repeat padding-box;
}

.block-3 .bgimage {
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.block-3 .caption {
  color: #FFC600;
}

.block-3 .title {
  color: #fff;
}

.bg-ticker .container {
  height: 150px;
  position: relative;
  background-image: url(/img/halftone-yellow.png);
}

.bg-ticker .container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-image: url(/img/bgticker.png);
  background-repeat: repeat-x;
  background-position: center center;
  -webkit-animation: animatedBackground 500s linear infinite;
          animation: animatedBackground 500s linear infinite;
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 center;
  }
  /* -x right to left, x = left to right */
  to {
    background-position: -10000px center;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 center;
  }
  /* -x right to left, x = left to right */
  to {
    background-position: -10000px center;
  }
}

.slick-slide,
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.splide__arrow {
  height: 4em;
  width: 4em;
  border-radius: 0;
}

/** TESTIMONIAL SLIDER **/
.testimonial-1 {
  padding: 200px 1em;
  background-color: #F4F3F2;
  background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/bubbles-top.png?v=1630216385), url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/bubble-bottom.png?v=1630216385);
  background-position: left top, right bottom;
  background-size: 300px, 300px;
  background-repeat: no-repeat, no-repeat;
}

.testimonial-1 .section-title {
  margin-bottom: 3em;
}

.testimonial-1 .section-title * {
  display: inline;
}

.testimonial-1 > .container {
  padding: 0 100px;
  max-width: 1000px;
  margin: auto;
}

.testimonial-1 .splide {
  position: relative;
}

.testimonial-1 .splide .container {
  min-height: 150px;
  padding: 0 2em;
  z-index: 1;
}

.testimonial-1 .splide:before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  height: 100px;
  width: 100px;
  background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/quotes-left.svg?v=1630217157);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial-1 .splide:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -80px;
  height: 100px;
  width: 100px;
  background-image: url(https://cdn.shopify.com/s/files/1/0577/0844/5857/files/quotes-right.svg?v=1630217157);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial-1 .content-wrapper {
  padding: 1em;
  width: 100%;
  text-align: center;
}

.testimonial-1 .splide__arrow {
  background: #ff6976;
  border-radius: 15px;
}

.testimonial-1 .splide__arrow svg {
  fill: #fff;
}

.testimonial-1 .splide__arrow--prev {
  left: -60px;
}

.testimonial-1 .splide__arrow--next {
  right: -60px;
}

@media (max-width: 749px) {
  .testimonial-1 > .container {
    padding: 0 70px;
    max-width: 1000px;
    margin: auto;
  }
}

body {
  background-color: #fff;
}
/*# sourceMappingURL=tbc-styles.css.map */